<div class="header-container row justify-content-between align-items-center">
  <div class="logo-container col-7">
    <a class="logo" role="button">
      <img src="assets/images/owwa.png" style="height: auto;width:80px;">
    </a>
  </div>
  <div class="col-5 d-flex justify-content-end">
    <button size="small" outline nbButton [nbContextMenu]="actions" nbContextMenuTag="header-context"  class="d-block d-sm-none">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <nb-actions size="small"> 
        <nb-action   class="d-none d-md-block d-lg-block cursor-pointer" *ngFor="let action of actions" [routerLink]="[action.href]">  {{ action.title }} </nb-action> 
      
    </nb-actions>
  </div>
</div>