.icon-size{
    font-size: x-large;
    text-decoration: none;
    color: white !important;
    padding: 5px 10px;
}
.icon-size-sm{
    font-size: large;
    text-decoration: none;
    color: white !important;
    padding: 5px 10px;
}