<div class="row justify-content-end m-2">
  <button class="btn btn-primary btn-sm col-3" routerLink="/main/manage-jobs-list">Job List</button>
</div>
<nb-alert status="warning" *ngIf="jobDetails?.status == 0">Job needs to be approved to be display on the site.</nb-alert>
<nb-card accent="info"  *ngIf="jobDetails">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        {{jobDetails.title}}<br>
        <span>{{jobDetails.hiring_organization_name}}</span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <h2>Full job description</h2>

    <p>{{jobDetails.title}}</p>

    <h3>Job Description:</h3>

    <p>{{jobDetails.description}}</p>

    <p>The technologies being deployed for our projects include C#, ASP.NET Web API, RavenDB, AngularJS, HTML 5, jQuery, CSS, SalesForce.com and PowerShell. The team is using Microsoft development technologies (Visual Studio 2017, .NET 4.5, GIT, JIRA) and agile development methodologies.</p>

    <h3>About the Job:</h3>

    <ul>
      <li>Job Title: {{jobDetails.title}}</li>
      <li>Department: {{jobDetails.industry}}</li>
      <li>Reports to: {{jobDetails.hiring_organization_name}}</li>
      <li>Employment Type: {{jobDetails.employment_type}}</li>
      <li>website:  {{jobDetails.hiring_organization_same_as}}</li>
      <li>Location: {{jobDetails.job_location_address_region}}</li>
    </ul>

    <p>Pay: {{jobDetails.base_salary_currency}} {{jobDetails.base_salary_value}} per month</p>

    <h1>Employees Personal Detailss</h1>
    <table class="table table-striped table-bordered mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Applicants Name</th>
          <th scope="col">Date Applied</th>
          <th scope="col">Age</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of jobApplicants">
          <td>{{ applicant.appliedUserID }}</td>
          <td>{{ applicant.firstName + ' ' + applicant.lastName}}</td>
          <td>{{ applicant.created_at | date }}</td>
          <td>{{ applicant.birthdate  | date}}</td>
          <td class="text-center">
            {{ applicant.status  }}
            <!-- <nb-select placeholder="Select Showcase" [(selected)]="applicant.status" fullWidth (selectedChange)="onStatusChange(applicant, $event)" >
              <nb-option value="applied">applied</nb-option>
              <nb-option value="interviewed">interviewed</nb-option>
              <nb-option value="hired">hired</nb-option>
              <nb-option value="rejected">rejected</nb-option>
              <nb-option value="withdrawn ">withdrawn </nb-option>
            </nb-select> -->
          </td>
          <td class="text-center">
            <button class="btn btn-success " [routerLink]="['/main/personal-details-view/', applicant.appliedUserID, applicant.jobID]"  >View Applicants profile</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
