<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-5">
      <nb-card>
        <nb-card-header>
        <h5>{{getStepLabel()}}</h5>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="signupForm" (ngSubmit)="verifyEmail()">
              <div class="row" *ngIf="step === 1">
                <div class="col-sm-12 col-md-6 my-3">
                  <label for="firstname" class="fw-bold">First Name</label>
                  <input
                    nbInput
                    fullWidth
                    fieldSize="giant"
                    id="firstname"
                    formControlName="firstname"
                    placeholder="First Name"
                    [class.is-invalid]="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched"
                    class="form-control"
                  >
                  <div *ngIf="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched" class="invalid-feedback">
                    First name is required.
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 my-3">
                  <label for="lastname" class="fw-bold">Last Name</label>
                  <input
                    nbInput
                    fullWidth
                    fieldSize="giant"
                    id="lastname"
                    formControlName="lastname"
                    placeholder="Last Name"
                    [class.is-invalid]="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched"
                    class="form-control"
                  >
                  <div *ngIf="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched" class="invalid-feedback">
                    Last name is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="email">Email</label>
                  <input
                    nbInput
                    fullWidth
                    fieldSize="giant"
                    id="email"
                    formControlName="email"
                    placeholder="Enter your email"
                    [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
                    class="form-control"
                  >
                  <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="invalid-feedback">
                    <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</div>
                  </div>
                </div>
                <div class="col-sm-12 my-3">
                  <div class="text-center">
                    <nb-radio-group class="d-flex justify-content-center" formControlName="user_type" name="reactive-forms-group">
                      <nb-radio [value]="1">Employer</nb-radio>
                      <nb-radio [value]="2">Ofw</nb-radio>
                    </nb-radio-group>
                  </div>
              </div>

                <div class="col-sm-12  text-center mt-3">
                  <button nbButton status="primary" type="submit" class="w-50" [disabled]="isLoading">
                    Sign Up
                    <span *ngIf="isLoading" class="ms-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="col-sm-12  text-center mt-3">
                  Already have an account? <a class="text-link" routerLink="../login">Login</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" *ngIf="step === 3">
                  <div class="text-center">
                      <input
                        nbInput
                        fullWidth
                        fieldSize="giant"
                        id="password"
                        type="password"
                        formControlName="password"
                        placeholder="Enter your password"
                        [class.is-invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                        class="form-control"
                        (keyup.enter)="signup()"
                      >

                    <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="invalid-feedback">
                      Password is required.
                    </div>
                    <button nbButton status="primary" type="button" class="w-50 mt-3" (click)="signup()" [disabled]="isLoading">SAVE
                      <span *ngIf="isLoading" class="ms-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      </button>
                  </div>
                </div>
              </div>
          </form>


        <div class="text-center"  *ngIf="step === 2">
          <input type="text" class="form-control" placeholder="verification code"  [(ngModel)]="verificationCode"
          nbInput
          fullWidth
          fieldSize="giant">
          <span class="mt-2 d-flex" *ngIf="timer > 0">Resend verification in {{timer }}s</span>
          <button nbButton status="primary" type="button" class="w-50 mt-3" (click)="verifyVerificationCode()" [disabled]="isLoading" *ngIf="timer > 0">Verify
            <span *ngIf="isLoading" class="ms-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <button nbButton status="primary" type="button" class="w-75 mt-3" (click)="verifyEmail()" [disabled]="isLoading" *ngIf="timer === 0">Resend Verification
            <span *ngIf="isLoading" class="ms-3 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>



        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
