<nb-alert class="text-center"  *ngIf="!userDetails">Personal details must be saved before applying for a job.</nb-alert>
<nb-alert class="text-center"  *ngIf="jobListings?.length == 0">No jobs available.</nb-alert>
<div class="row">
  <div class="col-12 col-xl-5">

    <nb-card *ngFor="let job of jobListings">
      <nb-card-body>
          <div class="row">
            <div class="col-2">
              <img [src]="job.hiring_organization_logo" style="height: auto;width:80px;">
            </div>
            <div class="col-7">
              <h6>{{job.title}}</h6>
              <p class="text-details">{{job.hiring_organization_name}}</p>
              <nb-tag-list>
                <nb-tag size="tiny" status="basic" appearance="filled" text="basic"></nb-tag>
                <nb-tag size="tiny" status="primary" appearance="filled" text="primary"></nb-tag>
                <nb-tag size="tiny" status="success" appearance="filled" text="success"></nb-tag>
                <nb-tag size="tiny" status="info" appearance="filled" text="info"></nb-tag>
                <nb-tag size="tiny" status="warning" appearance="filled" text="warning"></nb-tag>
              </nb-tag-list>

            </div>
            <div class="col-3 d-flex justify-content-end">
              <button nbButton
                appearance="hero"
                status="danger"
                size="giant"  (click)="displayJobDetails(job)">
                LEARN MORE
              </button>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-xl-7">
    <nb-card accent="info"  *ngIf="selectedJob">
      <nb-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            {{selectedJob.title}}<br>
            <span>{{selectedJob.hiring_organization_name}}</span>
          </div>
          <button nbButton [status]="getStatus(selectedJob) === 'Applied' ? 'success' : 'primary'"
          class="ml-2" (click)="applyForJob()"  [disabled]="getStatus(selectedJob) === 'Applied' ? true : false">
            {{getStatus(selectedJob)}}
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <h2>Full job description</h2>

        <p>{{selectedJob.title}}</p>

        <h3>Job Description:</h3>

        <p>{{selectedJob.description}}</p>

        <p>The technologies being deployed for our projects include C#, ASP.NET Web API, RavenDB, AngularJS, HTML 5, jQuery, CSS, SalesForce.com and PowerShell. The team is using Microsoft development technologies (Visual Studio 2017, .NET 4.5, GIT, JIRA) and agile development methodologies.</p>

        <h3>About the Job:</h3>

        <ul>
          <li>Job Title: {{selectedJob.title}}</li>
          <li>Department: {{selectedJob.industry}}</li>
          <li>Reports to: {{selectedJob.hiring_organization_name}}</li>
          <li>Employment Type: {{selectedJob.employment_type}}</li>
          <li>website:  {{selectedJob.hiring_organization_same_as}}</li>
          <li>Location: {{selectedJob.job_location_address_region}}</li>
        </ul>

        <h3>Technical Skills Requirement:</h3>

        <p>{{selectedJob.skills}}</p>


        <h3>Key Competency and Experience:</h3>

        <p>Minimum:</p>

        <ul>
          <li>Proven / demonstrable experience working in a Scrum environment as a Scrum Master</li>
          <li>UML knowledge / understanding essential.</li>
          <li>Champions the use of systems and processes to drive business performance.</li>
          <li>Track record of balancing both business and technical priorities and persuading others to make sure this balance is maintained.</li>
          <li>At least 7-8 years relevant experience as a Software Engineer or related role in B2B software industry</li>
          <li>Communication Skills: Excellent in Spoken English with a strong customer focus.</li>
        </ul>



        <h3>Budget:</h3>

        <p>{{selectedJob.base_salary_currency}} {{selectedJob.base_salary_value}}</p>

        <h3>{{selectedJob.employment_type}}</h3>

        <p>Pay: {{selectedJob.base_salary_currency}} {{selectedJob.base_salary_value}} per month</p>
      </nb-card-body>
    </nb-card>


  </div>

</div>
