<div class="header-container row justify-content-between align-items-center">
  <div class="logo-container col-7">
    <a class="logo" role="button">
      <img src="assets/images/owwa.png" style="height: auto;width:80px;">
    </a>
  </div>
  <div class="col-5 d-flex justify-content-end">
    <nb-actions size="small">
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="grid-outline"></nb-action>
      <nb-action icon="settings-2-outline"></nb-action>

      <nb-action [nbContextMenu]="userMenu" (menuClick)="onMenuItemClick($event)">
        <nb-user size="medium" name="John Doe" title="Engineer"></nb-user>
      </nb-action>
    </nb-actions>
  </div>
</div>
