<div class="header-container row justify-content-between align-items-center">
  <div class="logo-container col-7">
    <a class="logo" role="button">
      <img src="assets/images/owwa.png" style="height: auto;width:80px;">
    </a>
  </div>
  <div class="col-5 d-flex justify-content-end">

    <nb-actions size="small">

      <nb-action [nbContextMenu]="userMenu" *ngIf="isAuthenticated">
        <nb-user size="medium" name="First Name Last Name" title="{{user?._email}}"></nb-user>
      </nb-action>
    </nb-actions>
  </div>
</div>
