.header-container {
  padding: 0 15px; /* Standard container padding */
}

.logo-container {
  padding-left: 0; /* Remove default padding if any */
}

.nb-actions {
  display: flex;
  justify-content: flex-end;
}

.right-actions {
  margin-right: 0; /* Ensure there's no extra margin on the right */
}

.nb-action {
  margin-left: 10px; /* Optional: space between actions */
}
