<nb-card class="auth-card" style="min-width: 100%; width: 100%;">
  <nb-card-header>Company Details</nb-card-header>
  <nb-card-body>
    <div style="text-align: center;">
      <img [src]="companyForm.get('logo')?.value" style="height: auto;width:120px;margin: auto;">
    </div>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Company Name -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input
              nbInput
              fullWidth
              id="companyName"
              formControlName="companyName"
              placeholder="COMPANY NAME"
              status="basic"
              [status]="isInvalid('companyName') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('companyName')" class="invalid-feedback">
              Company Name is required and must be a string.
            </div>
          </div>
        </div>

        <!-- Company Type -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="companyType">Company Type</label>
            <input
              nbInput
              fullWidth
              id="companyType"
              formControlName="companyType"
              placeholder="COMPANY TYPE"
              status="basic"
              [status]="isInvalid('companyType') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('companyType')" class="invalid-feedback">
              Company Type is required and must be a string.
            </div>
          </div>
        </div>

        <!-- Same As -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="same_as">Same As (URL)</label>
            <input
              nbInput
              fullWidth
              id="same_as"
              formControlName="same_as"
              placeholder="EMPLOYER'S WEBSITE URL"
              status="basic"
              [status]="isInvalid('same_as') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('same_as')" class="invalid-feedback">
              Must be a valid URL.
            </div>
          </div>
        </div>

        <!-- Logo -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="logo">Logo (URL)</label>
            <input
              nbInput
              fullWidth
              id="logo"
              formControlName="logo"
              placeholder="EMPLOYER'S LOGO URL"
              status="basic"
              [status]="isInvalid('logo') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('logo')" class="invalid-feedback">
              Must be a valid URL.
            </div>
          </div>
        </div>

        <!-- Industry -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="industry">Industry</label>
            <input
              nbInput
              fullWidth
              id="industry"
              formControlName="industry"
              placeholder="INDUSTRY"
              status="basic"
              [status]="isInvalid('industry') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('industry')" class="invalid-feedback">
              Industry must be a string with a maximum length of 255 characters.
            </div>
          </div>
        </div>

        <!-- Address ID -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="addressID">Address</label>
            <input
              nbInput
              fullWidth
              id="address"
              formControlName="address"
              placeholder="ADDRESS"
              type="text"
              status="basic"
              [status]="isInvalid('address') ? 'danger' : 'basic'"
            >
            <div *ngIf="isInvalid('address')" class="invalid-feedback">
              fill up the address
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              nbInput
              fullWidth
              id="description"
              formControlName="description"
              placeholder="DESCRIPTION"
              status="basic"
              [status]="isInvalid('description') ? 'danger' : 'basic'"
            ></textarea>
            <div *ngIf="isInvalid('description')" class="invalid-feedback">
              Description must be a string.
            </div>
          </div>
        </div>

        <!-- Mission -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <label for="mission">Mission</label>
            <textarea
              nbInput
              fullWidth
              id="mission"
              formControlName="mission"
              placeholder="MISSION"
              status="basic"
              [status]="isInvalid('mission') ? 'danger' : 'basic'"
            ></textarea>
            <div *ngIf="isInvalid('mission')" class="invalid-feedback">
              Mission must be a string.
            </div>
          </div>
        </div>

        <!-- Vision -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <label for="vision">Vision</label>
            <textarea
              nbInput
              fullWidth
              id="vision"
              formControlName="vision"
              placeholder="VISION"
              status="basic"
              [status]="isInvalid('vision') ? 'danger' : 'basic'"
            ></textarea>
            <div *ngIf="isInvalid('vision')" class="invalid-feedback">
              Vision must be a string.
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-end">
        <button class="w-25 me-2" nbButton fullWidth status="basic" type="submit" >Back</button>
        <button class="w-25" nbButton fullWidth status="primary" type="submit" [disabled]="companyForm.invalid && companyForm.untouched">Submit</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
