.readonly-accordion input {
  pointer-events: none;
  // background-color: #f7f7f7; /* Optional: To give a 'disabled' look */
}

.readonly-accordion select,
.readonly-accordion nb-select select ngx-intl-tel-input tag-input {
  pointer-events: none;
  background-color: #f7f7f7; /* Optional: To match the disabled input appearance */
}


/* Base Styles */
.container-fluid {
  padding: 20px;
}

.nb-card {
  margin: 0 auto;
  max-width: 100%;
}

.nb-card-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  margin-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .nb-card {
    width: 90%;
  }

  .nb-card-header {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .nb-card {
    width: 100%;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-control {
    font-size: 0.9rem;
  }
}

/* Custom class to make ngx-intl-tel-input look like Nebular inputs, without gray background and border */
.custom {
  display: block;
  width: 100%;
  // padding: 0.875rem 1rem;
  min-width: 301px;
  font-size: 1rem;
  // line-height: 1.5;
  color: #4f4f4f;
  // background-color: transparent; /* Removed background */
  // background-clip: padding-box;
  // border: none; /* Removed border */
  // border-radius: 0.25rem;
  // transition: box-shadow 0.15s ease-in-out;
}

.custom:focus-within {
  box-shadow: none; /* Removed focus border effect */
}

.custom input {
  border: none;
  outline: none;
  background: transparent; /* Ensure the input itself has no background */
  width: 100%;
  padding-left: 0.25rem;
}

.custom .iti__flag-container {
  padding-right: 0.75rem;
}

.custom input::placeholder {
  color: #a0a0a0;
}

.custom .iti__selected-flag {
  border: none;
}

.custom .iti--separate-dial-code .iti__selected-dial-code {
  color: #4f4f4f;
}
