.readonly-accordion input {
  pointer-events: none;
  // background-color: #f7f7f7; /* Optional: To give a 'disabled' look */
}

.readonly-accordion select,
.readonly-accordion nb-select {
  pointer-events: none;
  background-color: #f7f7f7; /* Optional: To match the disabled input appearance */
}


/* Base Styles */
.container-fluid {
  padding: 20px;
}

.nb-card {
  margin: 0 auto;
  max-width: 100%;
}

.nb-card-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  margin-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .nb-card {
    width: 90%;
  }

  .nb-card-header {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .nb-card {
    width: 100%;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-control {
    font-size: 0.9rem;
  }
}
