<div class="row w-100">
  <div class="col-12 col-lg-4 mt-3 text-center text-lg-start">
    <h6 class="text-center text-lg-start text-white">OWWA Central Office</h6>
    <hr class="text-white">
    <p class="text-white mb-0">
      <i class="fa-solid fa-location-dot icon-size-sm"> </i>
      F.B. Harrison St, Pasay, Metro Manila
    </p> 
    <p class="text-white mb-0">
      <i class="fa-solid fa-envelope icon-size-sm"></i>
      owwacares@owwa.gov.ph
    </p>  
    <p class="text-white mb-0">
      <i class="fa-solid fa-phone icon-size-sm"></i>
      OWWA Hotline 1348
    </p>  

  </div>
  <div class="col-12 col-lg-4 mt-3  text-center text-lg-start">
    <h6 class="text-white">Quick Links</h6> 
    <hr class="text-white">
    <p class="text-white d-block d-md-none ">
      <a class="text-decoration-none" href="https://owwa.gov.ph/?page_id=4136">PDOS</a>
      |
      <a class="text-decoration-none" href="https://owwa.gov.ph/?page_id=115">Issuance</a>
      |
      <a class="text-decoration-none" href="https://owwa.gov.ph/?page_id=6018">Quarantine Guidelines</a>
    </p>

    <div class="d-none d-md-block">
      <p class="mb-0"><a class="text-decoration-none text-white" href="https://owwa.gov.ph/?page_id=4136">PDOS</a></p>
      <p class="mb-0"><a class="text-decoration-none text-white" href="https://owwa.gov.ph/?page_id=115">Issuance</a></p>
      <p class="mb-0"><a class="text-decoration-none text-white" href="https://owwa.gov.ph/?page_id=6018">Quarantine Guidelines</a></p> 
    </div>
  </div>
  
  <div class="col-12 col-lg-4 mt-3">
    <h6 class="text-center text-lg-start text-white">Social</h6> 
    <hr class="text-white">
    <div class="d-flex justify-content-lg-start justify-content-center"> 
      <a class="fa-brands fa-facebook icon-size" href="https://www.facebook.com/OWWAofficial"></a>
      <a class="fa-brands fa-facebook-messenger icon-size" href="http://m.me/owwa.cares"></a>
      <a class="fa-brands fa-youtube icon-size" href="http://youtube.com/channel/UCTND25ZW50hx9qooHh_z6nw"></a> 
      <a class="fa-brands fa-twitter icon-size" href="http://twitter.com/owwaofficial"></a>
    </div>

  </div> 
</div>