<div class="header-container row justify-content-between align-items-center">
  <div class="logo-container col-8 d-flex align-items-center">
    <a class="logo" role="button">
      <img src="assets/images/owwa.png" style="height: auto;width:80px;">
    </a>
    <!-- Added text after the logo -->
    <span class="ms-3 d-none d-md-inline" style="font-size: 1rem; font-weight: bold;">
      Overseas Workers Welfare Administration
    </span>
  </div>
  <div class="col-4 ">
    <div class="d-flex justify-content-end">
      <nb-actions size="small">
        <nb-action [nbContextMenu]="userMenu" *ngIf="isAuthenticated">
          <nb-user class="d-none d-lg-block" size="medium" name="{{ user._name }}" title="{{ user?._email }}">
          </nb-user>
          <nb-user class="d-lg-none" size="medium" name="{{ user._name }}" [showTitle]="false" [showName]="false">
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>

  </div>
</div>