<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <nb-card>
    
        <nb-card-header>{{ title }}</nb-card-header>
        <nb-card-body>
         
            <!-- {{formData}} -->
            <div class="container">
              <div class="card mb-4">
                <div class="row p-3">
                  <div class="col-12">
                    <label for="" class="mt-2 fw-bold">Title</label>
                    <input formControlName="title" type="text" class="form-control" placeholder="..." />
                  </div>
                  <div class="col-12">
                    <label for="" class="mt-2 fw-bold">Content</label>
                    <textarea formControlName="content" class="form-control" placeholder="..."></textarea>
                  </div>
      
                  <div class="col-12">
                    <label class="mt-2 fw-bold">Category</label>
                    <select formControlName="category" class="form-select">
                      <option value="Events">Events</option>
                      <option value="Information">Information</option>
                    </select>
                  </div>
      
                  <div class="col-12 mt-2">
                    <!-- Image Dropzone -->
                    <div class="dropzone" (click)="fileInput.click()" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                      (dragleave)="onDragLeave($event)" [class.dragover]="isDragOver">
                      <p class="text-center">Drag & drop images here or click to upload</p>
                      <input #fileInput type="file" class="form-control" (change)="onFileSelect($event)" multiple accept="image/*"
                        hidden>
                    </div>
                  </div>
                  <div class="col-12"> 
                    <div formArrayName="images" class="image-preview mt-3">
                        <div *ngFor="let image of imagesFormArray.controls; let i = index">
                          <div [formGroupName]="i" class="image-thumbnail">
                            <img *ngIf="image.get('url')?.value" [src]="image.get('url')?.value" alt="Image preview" width="100" />
                            <button type="button" class="btn-close" aria-label="Close" (click)="removeImage(i)"></button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end">
              <button nbButton status="secondary" (click)="close()">Close</button> 
              
              <button nbButton status="primary" class="ms-3" type="submit" [disabled]="eventForm.invalid">Update</button>
            </div>
        </nb-card-body> 
    
      </nb-card>
    </form>