<nb-card>
    <nb-card-body>


        <h3 class="text-center my-5">
            Contact us
        </h3>


        <div class="row mb-5">
            <div class="col-12 col-md-4">
                <nb-card size="small" accent="info">
                    <nb-card-body>
                        <div class="text-center my-5">
                            <i class="fa-solid fa-phone icon-size"></i>
                            <h5>24/7 Hotline</h5>
                            <p>Metro Manila / Cellphone: 1348 <br>
                                Regional: (02) 1348 <br>
                                International: (+632) 1348</p>
                        </div>

                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-12 col-md-4">
                <nb-card size="small" accent="info">
                    <nb-card-body>
                        <nb-card-body>
                            <div class="text-center my-5">
                                <i class="fa-solid fa-location-dot icon-size"></i>
                                <h5>OWWA Central Office</h5>
                                <p>F.B. Harrison St, Pasay, Metro Manila <br>
                                    8891-7601 to 24</p>
                            </div>
                        </nb-card-body>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-12 col-md-4">
                <nb-card size="small" accent="info">
                    <nb-card-body>
                        <div class="text-center my-5">
                            <i class="fa-solid fa-map-location icon-size"></i>
                            <h5>Directory</h5>
                            <p>Search the OWWA Directory for directions <br> and contact info to regional and overseas
                                <br> offices</p>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>